<p class="copyright text-muted">
    {%- if CC_LICENSE or CC_LICENSE_DERIVATIVES or CC_LICENSE_COMMERCIAL %}
    {% from 'cc-tools/cc-license.html' import cc_license_mark %}
        {{ cc_license_mark(cc_name=CC_LICENSE,derivatives=CC_LICENSE_DERIVATIVES,commercial=CC_LICENSE_COMMERCIAL,attr_markup=CC_ATTR_MARKUP,attr_props={'title':SITENAME,'name':article.author if article else AUTHOR,'url':SITEURL}) }}
    {% else %}
    <span>[Latest commit] <b>{{ COMMIT_MSG }}</b> on {{ COMMIT_DATE }}.</span><br>
    &copy; Copyright {{ COPY_DATE }} {{ AUTHOR }}, Powered by <a href="https://github.com/getpelican/pelican" title="Pelican">Pelican</a>
    {% endif %}
</p>