<div class="newsletter">
    <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
    <style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
	/* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */


    </style>
    <div id="mc_embed_signup">
        <form action="https://gitlab.us20.list-manage.com/subscribe/post?u=ff747a6446bcdcb063023a5f7&amp;id=e80a379296"
              method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
              target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
                <h2>Podobał Ci się ten artykuł?</h2>
                Jeśli tak, to zapisz się do newslettera aby otrzymywać powiadomienia o nowych artykułach,<br>
                    a także zestawienia ciekawych linków z obszaru programowania i produktywności.<br><br>
                <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address"
                       required>
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                                                                                          name="b_ff747a6446bcdcb063023a5f7_e80a379296"
                                                                                          tabindex="-1" value=""></div>
                <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe"
                                          class="button"></div>
            </div>
        </form>
    </div>
</div>

